{% extends 'registration/_base.html' %}

{% block title %}Sign In{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}

  
<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <span>RSVP</span>  
    </a>
    <!-- Card -->
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800">
        <div class="w-full p-6 sm:p-8">
            <h2 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">
                Password reset email sent
            </h2>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </p>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400 mt-2">
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>
        </div>
    </div>
</div>

{% endblock content %}