{% extends 'registration/_base.html' %}

{% block title %}Register{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">

    <a href="/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <span>RSVP</span>  
    </a>

    <div class="w-full max-w-md p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Create an account
        </h2>

        {% if form.errors %}
        <div class="mb-4">
            <p class="text-red-500 dark:text-red-400 text-sm">
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </p>
        </div>
        {% endif %}


        <form class="mt-8 space-y-6" method="post" action="{% url 'register' %}">
            {% csrf_token %}

            <!-- {{ form.as_p }} -->


            <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="w-full md:w-1/2">
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.first_name.label_tag }}</label>
                    <input type="text" name="first_name" id="first_name" maxlength="30" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="First Name" required>
                </div>
                <div class="w-full md:w-1/2">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.last_name.label_tag }}</label>
                    <input type="text" name="last_name" id="last_name" maxlength="30" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Last Name">
                </div>
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.username.label_tag }}</label>
                <input type="text" name="username" id="username" maxlength="150" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Username" required>
            </div>

            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.email.label_tag }}</label>
                <input type="email" name="email" id="email" maxlength="150" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="name@company.com" required>
            </div>

            <div>
                <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password1.label_tag }}</label>
                <input type="password" name="password1" id="password1" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
            </div>
            <div>
                <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password2.label_tag }}</label>
                <input type="password" name="password2" id="password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
            </div>

            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="remember" aria-describedby="remember" name="remember" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600" required>
                </div>
                <div class="ml-3 text-sm">
                    <label for="remember" class="font-medium text-gray-900 dark:text-white">I accept the <a href="#" class="text-primary-700 hover:underline dark:text-primary-500">Terms and Conditions</a></label>
                </div>
            </div>

            <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                Create account
            </button>
        </form>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
            Already have an account? <a href="{% url 'login' %}" class="text-primary-700 hover:underline dark:text-primary-500">Sign in</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}